# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.CursoUdemyCsharp.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\nasci\Desktop\Projects\c#\CursoUdemyCsharp\.idea\.idea.CursoUdemyCsharp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
